In [1]:
from connector import DBConnector
from featuretools import EntitySet

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

2022-07-15 12:00:25,286 featuretools - WARNING    While loading primitives via "premium_primitives" entry point, ignored primitive "PartOfDay" from "premium_primitives.part_of_day" because a primitive with that name already exists in "featuretools.primitives.standard.datetime_transform_primitives"

In [18]:
"""
+------------+--------------+
| product_id | product_name |
+------------+--------------+
|          1 | Car          |
|          2 | Truck        |
|          3 | Plane        |
+------------+--------------+
PRODUCTS TABLE 
"""

"""
+----------------+------------+
| transaction_id | product_id |
+----------------+------------+
|              0 |          1 |
|              1 |          1 |
|              3 |          1 |
|              4 |          2 |
|              2 |          3 |
|              5 |          3 |
+----------------+------------+
TRANSACTIONS TABLE 
"""

"""
Many products can map to the same transaction 
"""

'\nMany products can map to the same transaction \n'

In [6]:
config = dict()
config["system_name"] = "mysql"
config["host"] = "127.0.0.1:3306"
config["password"] = "harrypotter"
config["user"] = "root"
config["database"] = "dummy"

sql_connector = DBConnector(**config) 
tables = sql_connector.all_tables()
print(f"{type(tables)}")
print(tables)

<class 'pandas.core.frame.DataFrame'>
     TABLE_NAME
0      products
1  transactions

In [7]:
sql_connector.populate_dataframes(debug=False) 
print(type(sql_connector.dataframes))
for name, df in sql_connector.dataframes.items(): 
    print(name) 
    print(df[0]) 
    print(df[1])

<class 'dict'>
products
   product_id product_name
0           1          Car
1           2        Truck
2           3        Plane
product_id
transactions
   transaction_id  product_id
0               0           1
1               1           1
2               3           1
3               4           2
4               2           3
5               5           3
transaction_id

In [14]:
sql_connector.populate_relationships(debug=False) 
for rel_tuple in sql_connector.relationships:   
    for field, val in rel_tuple._asdict().items(): 
        print(f"{field} : {val}")

referenced_table_name : products
referenced_column_name : product_id
table_name : transactions
col_name : product_id

In [15]:
es = EntitySet("es", sql_connector.dataframes, sql_connector.relationships) 
print(es)

Entityset: es
  DataFrames:
    products [Rows: 3, Columns: 2]
    transactions [Rows: 6, Columns: 2]
  Relationships:
    transactions.product_id -> products.product_id